[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/excreal1/hugo-PaperMod
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
